.text {
    @apply text-pretty text-light break-words;
    @apply text-[14.5px] leading-[22px] font-[350];
    @apply md:text-[15px] leading-[24px] font-[400];
}

.list {
    @apply list-inside list-disc;

    li {
        @apply first:pt-3;
        @apply pb-2 text-blue-100 opacity-[95%] text-pretty break-words;
        @apply text-[13.5px] font-[300];
        @apply md:text-sm md:font-[350];
        @apply lg:text-[14.5px] lg:leading-[21.5px] lg:font-[390];
    }
}