@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'HelveticaNow';
        font-style: normal;
        font-weight: 1 999;
        font-display: swap;
        src: url('../fonts/HelveticaNow.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Oceanwide';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('../fonts/Oceanwide.woff2') format('woff2');
    }
}

html {
    @apply font-sans antialiased bg-black;
}

body {
    @apply h-screen w-screen p-[14px];

    #__nuxt {
        @apply border border-carbon h-full rounded-lg;
    }
}

.f-between {
    @apply flex items-center justify-between;
}