@import './utils.pcss';

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: 'HelveticaNow';
        font-style: normal;
        font-weight: 1 999;
        src: url('../fonts/HelveticaNow.woff2') format('woff2');
    }
    @font-face {
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 1 999;
        src: url('../fonts/Jetbrains.woff2') format('woff2');
    }
}

html, body {
    @apply font-sans antialiased bg-black;
}

:root {
    --popper-theme-background-color: theme('colors.black');
    --popper-theme-text-color: theme('colors.light');
    --popper-theme-border-width: 1px;
    --popper-theme-border-style: solid;
    --popper-theme-border-color: theme('colors.carbon');
    --popper-theme-border-radius: 4px;
    --popper-theme-padding: 8px 16px;
}