.f-center {
    @apply flex items-center justify-center;
}

.f-between {
    @apply flex items-center justify-between;
}

.t-200 {
    @apply transition duration-200 ease-in-out;
}

.code_link {
    @apply flex flex-col;

    .line {
        @apply bg-code-string h-px w-full t-200 opacity-50;
    }
}