@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: 'HelveticaNow';
        font-style: normal;
        font-weight: 1 999;
        src: url('./HelveticaNow.woff2') format('woff2');
    }
    @font-face {
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 1 999;
        src: url('./Jetbrains.woff2') format('woff2');
    }
    * {
        @apply font-sans antialiased;
    }
    html {
        @apply bg-black;
    }
}

:root {
    --popper-theme-background-color: theme('colors.black');
    --popper-theme-text-color: theme('colors.light');
    --popper-theme-border-width: 1px;
    --popper-theme-border-style: solid;
    --popper-theme-border-color: theme('colors.carbon');
    --popper-theme-border-radius: 4px;
    --popper-theme-padding: 8px 16px;
}

.f-center {
    @apply flex items-center justify-center;
}

.f-between {
    @apply flex items-center justify-between;
}

.t-200 {
    @apply transition duration-200 ease-in-out;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.2s;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}